{%extends 'base.html'%}
{%block title%}Contact{%endblock title%}
{%block content%}
<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Contact Us</h3>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="5"></textarea>
            </div>
            <a href="mailto:igatajohn15@gmail.com" class="btn btn-primary">Submit</a>
          </form>
        </div>
        <div class="col-md-6">
          <h3>Get in Touch</h3>
          <p><i class="fas fa-map-marker-alt"></i> Suite 10, Pasali AA Plaza, Kuje, FCT Abuja</p>
          <p><i class="fas fa-phone"></i> (234) 08126159242</p>
          <p><i class="fas fa-envelope"></i> igatajohn15@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
{%endblock content%}